<div>

  <h3>Events Directory (<%= pluralize(@events.count, 'Event')%>)</h3>

  <table>

    <tr id="header">
      <td>id</td>
      <td>Event Name</td>
      <td>Location</td>
      <td>Price</td>
      <td>Description</td>
      <td>Starts At</td>
    </tr>
    <tr>
      <% @events.each do |event| %>
          <td><%= event.id %></td>
          <td><%= link_to(event.name, event) %></td>
          <td><%= event.location %></td>
          <td><%= format_price(event)  %></td>
          <td><%= truncate(event.description, length: 45, separator: ' ') %></td>
          <td><%= event.starts_at.to_s%></td>
          </tr>
      <% end %>
      </table>
</div>